<section>
<h2>References</h2>
<span>I thrive both independently and as part of a team. Here’s what my colleagues have to say about working with me.
</span>
<div class="references-div">
        <div class="single-reference">
            <div class="wrapper">
            <p class="reference-text">"{{reference.text}}"</p>
            <h3>- {{reference.name}}</h3>
            </div>
        </div>
</div>
<div class="buttons-wrap">
<img class="arrow-icon" src="/assets/img/left_icon.png" (click)="lastReference()" alt="">
@for (reference of references; track $index) {
    @if ($index == currentReference) {
        <img class="dot" src="/assets/img/dot_icon_blue.png" alt="">
    } @else {
        <img class="dot" src="/assets/img/dot_icon_black.png" alt="">
    }
}
<img class="arrow-icon" src="/assets/img/right_icon.png" (click)="nextReference()" alt="">
</div>
<div class="arrow-wrap">
<img class="arrow" src="./assets/img/arrow.svg" alt="">
</div>
</section>
