@import '../../styles/variables';

header {
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: $primary-color;
    padding: $margin-left-right;
}

.logo-img {
    height: 30px;
}

.menu-img {
    height: 32px;
}