<section id="aboutMe">
  <div class="wrapper">
  <div class="info-div">
    <h2>About me</h2>
    <p>
      Lorem ipsum, recusandae voluptates eius suscipit similique! Iure
      reiciendis ut expedita nam quisquam a necessitatibus nisi deserunt quidem!
      <br />
      <br />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam sed beatae
      molestias blanditiis repudiandae corporis earum cupiditate nobis tempore
      illo dolore, labore modi a repellendus error alias ea maiores dolorem.
    </p>
    <button>Let's talk</button>
  </div>

  <div>
    <div class="portrait-div">
      <img
        class="portrait"
        src="./assets/img/JS_img.jpg"
        alt="Ein Portrait von Joel Sygulla"
      />
    </div>
  </div>
  </div>
  <div class="arrow-wrap">
    <img class="arrow" src="./assets/img/arrow.svg" alt="Navigations-Pfeil" />
    </div>
</section>
