<div class="project-div {{ additionalClass }}">
  <div class="img-container">
    <img [src]="project.imageUrl" alt="">
  </div>
  <div class="project-info">
    <h3>{{ project.title }}</h3>
    <span>{{ project.technologies.join(' | ') }}</span>
    <p>{{ project.description | translate }}</p>
    <div class="buttons">
      <a [href]="project.livetestLink" target="_blank" class="btn">{{'liveTest' | translate }}</a>
      <a [href]="project.githubLink" target="_blank" class="btn">Github</a>
    </div>
  </div>
  <span class="projectnumber">{{ formattedProjectNumber }}</span>
</div>
