<section id="aboutMe">
  <div class="wrapper">
    <div class="info-div">
      <h2>{{ "aboutMe" | translate }}</h2>
      <p>
        {{ "aboutMe_part1" | translate }}
        <br />
        <br />
        {{ "aboutMe_part2" | translate }}
      </p>
      <button (click)="onButtonClick()">{{ "letsTalk" | translate }}</button>
    </div>

    <div>
      <div class="portrait-div">
        <img
          class="portrait"
          src="./assets/img/JS_img.jpg"
          alt="Ein Portrait von Joel Sygulla"
        />
      </div>
    </div>
  </div>

  <app-arrow
    direction="left"
    imgSrc="./assets/img/arrow_left.svg"
    marginRight="0"
    marginLeft="70%"
  >
  </app-arrow>
</section>
