<section id="aboutMe">
  <div class="wrapper">
    <div class="info-div">
      <h2>About me</h2>
      <p>
        Based in Berlin, I’m passionate about helping designers and companies bring their ideas to life through intuitive and engaging web applications.
        I enjoy turning complex requirements into simple, effective solutions, drawing on both creativity and strong logical thinking. My curiosity drives me to keep exploring new technologies and improving my skills. 
        <br>
        <br>
        If you think we’d work well together, contact me!
      </p>
      <button (click)="onButtonClick()">Let's talk</button> 
    </div>

    <div>
      <div class="portrait-div">
        <img
          class="portrait"
          src="./assets/img/JS_img.jpg"
          alt="Ein Portrait von Joel Sygulla"
        />
      </div>
    </div>
  </div>

<app-arrow 
  direction="left" 
  imgSrc="./assets/img/arrow_left.svg" 
  marginRight="0"
  marginLeft="70%">
</app-arrow>


</section>



