<section id="heroSection">
  <div class="headline">
    <h1>Frontend<br/>{{'developer' | translate}}</h1>
    <div class="name">
      <div class="seperator"></div>
      <h2>Joel Sygulla</h2>
    </div>
    <button (click)="onButtonClick()">Send a message</button>
    <div class="mail-and-arrow">
        <span class="mail">sygullajoel&#64;gmail.com</span>
        <div>
            <img src="./assets/img/arrow_down.svg" alt="">
            <span>Scroll<br>{{'down' | translate}}</span>
        </div>
    </div>
  </div>
</section>
