.arrow-wrap {
  max-width: 80%;
  display: flex;
  justify-content: center;
  position: relative;
 
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.arrow-wrap img {
  position: relative;
  transition: transform 0.25s ease-in-out;

  @media (max-width: 400px) {
    height: 200px;
  }
}

.arrow-wrap.left.visible {
  opacity: 1;
}

.arrow-wrap.left.visible img {
  transform: translate(-60px, 60px); /* Bewegt das Bild innerhalb des Containers */
}

.arrow-wrap.right.visible {
  opacity: 1;
}

.arrow-wrap.right.visible img {
  transform: translate(60px, 60px); /* Bewegt das Bild innerhalb des Containers */
}


