@import '../../styles/variables';

section {
    height: 100vh;
}

.headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 

    h1 {
        text-align: center;
        font-size: 128px;
        margin: 0;
        font-family: 'Syne';
        font-weight: 800;
        letter-spacing: -2.5%;
        line-height: 128px;
    }

    .name {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .seperator {
            background-color: black;
            height: 3px;
            width: 620px;
        }

        h2 {
            font-size: 48px;
            line-height: 48px;
            letter-spacing: -2.5%;
            color: $accent-color;
        }
    }

    .mail-and-arrow {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 23px;
        letter-spacing: -2.5%;
        line-height: 23px;
        width: 100%;

        .mail {
            writing-mode: vertical-lr;
            transform: rotate(180deg);
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            height: 200px; 
            position: relative;
            overflow: hidden;

            img {
                position: relative;
                animation: scrollDown 1.6s infinite;
                z-index: 2;
            }

            span {
                position: relative; 
                top: 24px; 
                z-index: 300;
                background-color: $primary-color;
                height: 100px;
            }

            @keyframes scrollDown {
                0% {
                    top: -150px;
                }
                100% {
                    top: 200px;
                }
            }
        }
    }
}


