<app-header></app-header>

<section>
    <img class="back-icon" src="/assets/img/icon_back.png" alt="" (click)="navigateToMainPage()">
    
    <h1>{{ 'legalNotice' | translate }}</h1>

    <h2>{{ 'serviceProvider' | translate }}</h2>
    <p>Joel Sygulla<br>
    Hagelberger Str. 44<br>
    10965 Berlin<br>
    {{ 'countryGermany' | translate }}</p>

    <h2>{{ 'contactInformation' | translate }}</h2>
    <p>{{ 'emailAddress' | translate }}: <a href="mailto:sygullajoel@gmail.com">sygullajoel&#64;gmail.com</a></p>

    <h1>{{ 'privacyPolicy' | translate }}</h1>

    <h2>{{ 'responsibleParty' | translate }}</h2>
    <p>Joel Sygulla<br>Hagelberger Str. 44<br>10965 Berlin<br>{{ 'countryGermany' | translate }}</p>
    <p>{{ 'emailAddress' | translate }}: <a href="mailto:sygullajoel@gmail.com">sygullajoel&#64;gmail.com</a></p>

    <h2>{{ 'dataCollected' | translate }}</h2>
    <p>{{ 'dataCollectedContent' | translate }}</p>

    <h2>{{ 'purposeOfProcessing' | translate }}</h2>
    <p>{{ 'purposeOfProcessingContent' | translate }}</p>

    <h2>{{ 'dataRetention' | translate }}</h2>
    <p>{{ 'dataRetentionContent' | translate }}</p>

    <h2>{{ 'yourRights' | translate }}</h2>
    <p>{{ 'yourRightsContent' | translate }}</p>

    <h2>{{ 'dataTransmission' | translate }}</h2>
    <p>{{ 'dataTransmissionContent' | translate }}</p>

    <h2>{{ 'securityMeasures' | translate }}</h2>
    <p>{{ 'securityMeasuresContent' | translate }}</p>

    <h2>{{ 'externalLinks' | translate }}</h2>
    <p>{{ 'externalLinksContent' | translate }}</p>

    <h2>{{ 'subdomainNotice' | translate }}</h2>
    <p>{{ 'subdomainNoticeContent' | translate }}</p>
</section>

<div class="bottom-div"></div>

<app-footer></app-footer>

