@import "../../styles/variables";

section {
    margin: $margin-left-right;
    padding-top: 24px;
    color: black;
    font-family: 'Overpass';

    a {
        text-decoration: none;
        color: black;
    }

    h1 {
        font-size: 46px;
    }

    .back-icon {
        height: 48px;
        cursor: pointer;
    }
}


.bottom-div {
    background-color: black;
    height: 48px;
    width: 100%;
}

