@import "../../styles/variables";

section {
    margin: $margin-left-right;
    color: black;
    font-family: 'Overpass';

    a {
        text-decoration: none;
        color: black;
    }

    h1 {
        font-size: 46px;
    }

}

.bottom-div {
    background-color: black;
    height: 48px;
    width: 100%;
}