@import "../../../styles/variables";

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 100px 300px 100px;
  position: relative;

  @media (max-width: 1380px) {
    padding: 100px 60px 300px 60px;
  }

  @media (max-width: 720px) {
    padding: 100px 25px 300px 25px;
  }

  @media (max-width: 380px) {
    padding: 100px 18px 300px 18px;
  }
}

h2 {
  font-size: 78px;
  line-height: 78px;
  letter-spacing: 1%;
  font-family: "Syne";
  font-weight: 800;
  margin-bottom: 32px;
  transition: color 125ms ease-in-out;

  &:hover {
    color: $accent-color;
  }

  @media (max-width: 1300px) {
    font-size: 70px;
    line-height: 70px;
  }

  @media (max-width: 1130px) {
    font-size: 62px;
    line-height: 62px;
  }

  @media (max-width: 1070px) {
    font-size: 56px;
    line-height: 56px;
  }

  @media (max-width: 940px) {
    font-size: 48px;
    line-height: 48px;
  }

  @media (max-width: 800px) {
    font-size: 44px;
    line-height: 44px;
  }

  @media (max-width: 500px) {
    font-size: 40px;
    line-height: 40px;
  }

  @media (max-width: 460px) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (max-width: 420px) {
    font-size: 34px;
    line-height: 34px;
  }

  @media (max-width: 380px) {
    font-size: 32px;
    line-height: 32px;
  }

  @media (max-width: 330px) {
    font-size: 28px;
    line-height: 28px;
  }
}

span {
  font-size: 23px;
  line-height: 27px;
  font-family: "Overpass";
  max-width: 723px;
  text-align: center;
}

.references-div {
  display: flex;
  gap: 32px;
  margin: 60px 0px 24px 0px;

  .single-reference {
    font-size: 23px;
    font-family: "Overpass";
    text-align: center;
    max-width: 800px;
    padding: 32px 60px 32px 60px;
    box-sizing: border-box;
    min-height: 325px;
    height: fit-content;
    border: 4px solid black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media (max-width: 520px) {
      padding: 24px 16px 24px 16px;
    }
  }

  .wrapper {
    h3 {
      color: $accent-color;
      margin: 0;
    }
  }
}

.buttons-wrap {
  display: flex;
  align-items: center;

  .arrow-icon {
    height: 42px;
    transition: transform 0.125s ease, color 0.125s ease, opacity 0.125s ease;
    opacity: 0.9;
    cursor: pointer;
  }

  .arrow-icon:hover {
    transform: scale(1.05);
    opacity: 1;
  }

  .dot {
    height: 16px;
  }
}

.moving-arrow {
  position: absolute;
  right: 20%;
  bottom: 30px;
  z-index: 10;

  @media (max-width: 1000px) {
    bottom: 0px;
  }

  @media (max-width: 500px) {
    right: 80px;
  }
}
