<section>
  <h2>{{ 'references' | translate }}</h2>
  <span>
    {{ 'references_intro' | translate }}
  </span>
  <div class="references-div">
    <div class="single-reference">
      <div class="wrapper">
        <p class="reference-text">{{ reference.text | translate }}</p>
        <h3>- {{ reference.name }}</h3>
      </div>
    </div>
  </div>
  <div class="buttons-wrap">
    <img
      class="arrow-icon"
      src="./assets/img/left_icon.png"
      (click)="lastReference()"
      alt=""
    />
    @for (reference of references; track $index) { @if ($index == currentReference) {
    <img class="dot" src="./assets/img/dot_icon_blue.png" alt="" />
    } @else {
    <img class="dot" src="./assets/img/dot_icon_black.png" alt="" />
    } }
    <img
      class="arrow-icon"
      src="./assets/img/right_icon.png"
      (click)="nextReference()"
      alt=""
    />
  </div>
  <app-arrow class="moving-arrow"
    direction="left"
    imgSrc="./assets/img/arrow_left.svg"
    marginRight="0"
    marginLeft="70%"
  >
  </app-arrow>
</section>
