<footer>
    <div class="footer-left">
        <img src="./assets/img/js_logo_white.svg" alt="Logo">
        <span>&#64; Joel Sygulla 2024</span>
    </div>
    <div class="footer-right">
        <div class="links-wrap">
            <img src="./assets/img/github_icon_white.svg" alt="GitHub Icon">
            <img src="./assets/img/mail_icon_white.svg" alt="Mail Icon">
            <img src="./assets/img/linkedin_icon_white.svg" alt="LinkedIn Icon">
        </div>
        <div>
            <!-- Hier wird der a-Tag für den Link zur Legal Notice Seite hinzugefügt -->
            <a [routerLink]="['/legal-notice']">Legal notice</a>
        </div>
    </div>
</footer>
